.leaders {
  text-align: left;
  margin: {
    left: 20px;
  };
}

.username {
  color: lightseagreen;
  font-weight: bolder;
}

.date {
  position: absolute;
  right: 0;
}

.leader {
  width: 100%;
  position: relative;
}